{% extends 'base/base.html'%}
{% load crispy_forms_tags %}
{% crispy formulario formulario.helper %}

{%block content%}

  <style> 
    .navbar-custom { 
        background-color: #80BBC4; 
    } 
  </style> 
  <nav class="navbar navbar-custom navbar-expand px-0 py-1 justify-content-between" background-color="#e91e63!important">
    <div class="navbar-brand text-light ml-2" >
      <a href="{% url 'patient2' registro.id %}" style="color: azure;"><i class="fas fa-arrow-circle-left" type= "button" ></i></a> 
      {% with share_text=registro.Nombre|add:" "|add:registro.Apellido %}
        Toma de muestra Paciente: {{share_text}}
      {% endwith %}
    </div>
    <div class="form-inline mr-2">
      <button class="btn btn-sm btn-outline-light" data-toggle="modal" data-target="#exampleModal">Limpiar</button>
      <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Mensaje de confirmación</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              {% with share_text=registro.Nombre|add:" "|add:registro.Apellido %}
                Esta acción eliminará de forma permantene todos los archivos asociados a la paciente  {{share_text}}.
                Esta seguro desea continuar?
              {% endwith %}
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-sm btn-ligth" data-dismiss="modal">Descartar</button>
              <a href= "{% url 'delete-spectrography2' registro.id %}"><button type="button" class="btn btn-sm btn-secondary">Continuar</button></a>
              
            </div>
          </div>
        </div>
      </div>
    </div>
  </nav>
  <div class="card border-info mb-3" style="max-width: 100%;">
    <div class="card-header" align="center">Análisis de Información Espectral de Fluorescencia</div>
    <div class="card-body">
      <div class="col">
        <div class="row mt-1">
          <div class="col-sm-5 px-0">
            <form action="{% url 'spectrography2' registro.id %}" method="post" enctype="multipart/form-data"> 
              <div class="card border-info mb-2 bg-active px-2 py-1">
                {% csrf_token %}
                {{ form_file.document}}  
                {% if file_present%}
                  <p><h10>Esta paciente ya cuenta con archivos</h10></p>
                {%endif%}
                <button type="submit" class="btn btn-sm btn-secondary btn-block mt-1">Cargar</button> 
              </div>
            </form>
          </div>
          <div class="col-sm-7 px-0">
            <div class="card mb-2 mr-1 px-2" style="border: none;" align="justify">
              <p><b>Cargue de archivos:</b> Debe cargar los archivo en formato .TXT, el nombre del archivo debe empezar en 1 para el primer espectro y continuar de forma consecutiva. Si sube un archivo equivocado por favor dele limpiar y vuelva a subir todos los archivos correspondiente a la paciente. </p>
            </div>
          </div>
        </div>
    
        <div class="row mt-1">
          <div class="col-sm-5 px-0">
            <form action="{% url 'spectrography2' registro.id %}" method="post" enctype="multipart/form-data"> 
              <div class="card mb-2 bg-active px-2 py-1 border-info">
                {% csrf_token %}
                {{ form3.Numero_espectros|as_crispy_field}}
                <button type="submit" class="btn btn-sm btn-secondary btn-block mt-0">Procesar</button> 
              </div>
            </form>
          </div>
          <div class="col-sm-7 px-0">
            <div class="card mb-2 mr-1 px-2" style="border: none;" align="justify">
              <p><b>Número de espectros:</b> Debe elegir el número de espectros a analizar, cada punto de análisis esta determinado por 30 espectros. Se recomienda colocar un múltiplo de 30 para mejorar la calidad del análisis. </p>
            </div>
          </div>
        </div>
    
        <div class="row">
          <table class="table-sm table-bordered mt-1" cellspacing="0" width="100%">
            <thead>
              <tr class= "text-center">
                <th scope="col" colspan="3" class="table-info">Gráficas procesamiento de señal espectrográfica</th>
              </tr>
            </thead>
            <tbody>
              {% if process_flag%}
                {% for j in count_images %}
                  {% if  forloop.counter0|divisibleby:3 %}
                    <tr>
                  {% endif %}
                    <td class='align-middle text-center' >
                      {% with number_image=forloop.counter|stringformat:"s" %} 
                      {% with name=NomImag|add:number_image|add:".jpg" %}                 
                        <img class="img-responsive" src="{{ name }}" width="325" height="325"/>
                      {% endwith %}
                      {% endwith %}
                    </td>
                {% endfor %}
              {% endif %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  
  {%endblock%}